*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: var(--background-main-color);
  background-color: var(--font-primary-color);
}

:root {
  /* backgrounds */
  --background-main-color: rgb(255, 255, 255);
  --background-secondary-color: rgb(242, 242, 242);

  /* border */
  --border-color: rgb(242, 242, 242);

  /* font color */
  --font-primary-color: rgb(51, 51, 51);
  --font-secondary-color: rgb(156, 163, 175);
  --font-active-color: rgb(46, 204, 113);

  /* font sizes */
  --font-primary-size: 24px;
  --font-secondary-size: 18px;
  --font-tertiary-size: 16px;
  --font-quaternary-size: 14px;

  /* other colors */
  --green-color: rgb(46, 204, 113);
  --red-color: rgb(231, 76, 60);
  --blue-color: rgb(51, 152, 219);
  --yellow-color: rgb(241, 196, 15);
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}
